.object-list-table {
  margin: $text-content-vertical-rhythm 0;
  border-collapse: collapse;
  border: 1px solid $base-color-dark-grey;

  tr:nth-child(odd) {
    background: $color-default-bg;
  }

  tr:nth-child(even) {
    background: $base-color-light-grey;
  }

  th,
  td {
    padding: 0.1em 1em;
    border: 0;
  }

  th {
    border-bottom: 1px solid $base-color-dark-grey;
  }

  tr:hover td {
    background: $base-color-orange;
  }

  .object-actions .fake-button {
    font-size: 0.8em;
  }
}
