/* COLOR DEFINITIONS
 *
 * Define colors for the layout.
 */

$base-color-white: rgb(247 247 247); // #f7f7f7
$base-color-black: rgb(8 8 8); // #080808
$base-color-green: rgb(0 128 32);
$base-color-red: rgb(192 32 32);
$base-color-light-grey: rgb(228 228 228);
$base-color-dark-blue: rgb(32 64 192);
$base-color-bright-blue: rgb(192 228 255);

/* fallback color */
$base-color-pink: rgb(255 0 157);
