/* COLOR DEFINITIONS
 *
 * Define colors for the layout.
 */

$base-color-white: rgb(247 247 247); // #f7f7f7
$base-color-black: rgb(8 8 8); // #080808

/* fallback color */
$base-color-pink: rgb(255 0 157);
