{% if errors %}
  <div class="non-field-errors">
  {{ errors }}
  </div>
{% endif %}
{% for field, errors in fields %}
  <div{% with classes=field.css_classes %}{% if classes %} class="{{ classes }}"{% else %} class="field-group"{% endif %}{% endwith %}>
    {{ errors }}
    {% if field.label %}{{ field.label_tag }}{% endif %}
    {{ field }}
    {% if field.help_text %}
      <span class="helptext">{{ field.help_text|safe }}</span>
    {% endif %}
  </div>
{% endfor %}
{% if hidden_fields %}
  {% for field in hidden_fields %}{{ field }}{% endfor %}
{% endif %}
