{% extends "consumption/app_base.html" %}

{% block page-title %}Record: Update{% endblock page-title %}

{% block main %}
<section class="consumption-document">
  <section class="document-head">
    <h2>Update {{ record_instance.resource.name }} - {{ record_instance.timestamp|date:"Y-m-d (H:i)" }}</h2>
  </section>
  <section>
    <form method="post" novalidate class="consumption-form">
      {% csrf_token %}

      {{ form }}

      <button type="submit" class="button-update">Update Record</button>
      <button type="reset" class="button-cancel">Reset Changes</button>
    </form>
    <section>
      <h5>Other Actions:</h5>
      <ul class="object-actions record-actions">
        <li><a class="fake-button" href="{% url "consumption:record-delete" record_instance.id %}">Delete Record</a></li>
      </ul>
    </section>
  </section>
</section>
{% endblock main %}
