{% extends "consumption/app_base.html" %}

{% block page-title %}Record: Update{% endblock page-title %}

{% block main %}
<section class="consumption-document">
  <section class="document-head">
    <h2>Update {{ record_instance.resource.name }} - {{ record_instance.timestamp }}</h2>
  </section>
  <section>
    <form method="post" novalidate class="consumption-form">
      {% csrf_token %}

      {{ form }}

      <button type="submit" class="submit">Update Record</button>
      <button type="reset" class="cancel">Cancel</button>
    </form>
    <ul class="object-actions record-actions">
      <li><a href="{% url "consumption:record-delete" record_instance.id %}">delete</a></li>
    </ul>
  </section>
</section>
{% endblock main %}
