{% extends "consumption/app_base.html" %}

{% block page-title %}Record: Create a new Record instance{% endblock page-title %}

{% block main %}
<section class="consumption-document">
  <section class="document-head">
    <h2>Create a new Record instance</h2>
  </section>
  <section>
    <form method="post" novalidate class="consumption-form">
      {% csrf_token %}

      {{ form }}

      <button type="submit" class="submit">Add Record</button>
      <button type="reset" class="cancel">Cancel</button>
    </form>
  </section>
</section>
{% endblock main %}
