{% extends "consumption/app_base.html" %}

{% block page-title %}Resource: Update {{ resource_instance.name }}{% endblock page-title %}

{% block main %}
<section class="consumption-document">
  <section class="document-head">
    <h2>Update {{ resource_instance.name }}</h2>
  </section>
  <section>
    <form method="post" novalidate class="consumption-form">
      {% csrf_token %}

      {{ form }}

      <button type="submit" class="button-update">Update Resource</button>
      <button type="reset" class="button-cancel">Cancel</button>
    </form>
    <section>
      <h5>Other Actions:</h5>
      <ul class="object-actions resource-actions">
        <li><a class="fake-button" href="{% url "consumption:resource-delete" resource_instance.id %}">Delete Resource</a></li>
      </ul>
    </section>
  </section>
</section>
{% endblock main %}
