{% extends "consumption/app_base.html" %}

{% block page-title %}Resource: {{ resource_instance.name }}{% endblock page-title %}

{% block main %}
<section class="consumption-document">
  <section class="document-head">
    <h2>{{ resource_instance.name }}</h2>
    <ul class="object-actions resource-actions">
      <li><a class="fake-button" href="{% url "consumption:resource-update" resource_instance.id %}">update</a></li>
      <li><a class="fake-button" href="{% url "consumption:resource-delete" resource_instance.id %}">delete</a></li>
    </ul>
  </section>
  <section class="object-meta resource-meta">
    {% if resource_instance.description %}
    <div class="resource-description">{{ resource_instance.description }}</div>
    {% endif %}
    <p>This resource is tracked for <a href="{% url "consumption:subject-detail" resource_instance.subject.id %}">{{ resource_instance.subject.name }}</a>.</p>
    <p>The unit of this resource is <strong>{{ resource_instance.unit }}</strong></p>
  </section>

  <section class="resource-records">
    <a class="fake-button button-create" href="{% url "consumption:record-create" resource_instance.id %}">Add Record</a>
    {% if records %}
    <table class="object-list-table">
      <tr>
        <th>Date/Time</th>
        <th>Value</th>
        <th>Actions</th>
      </tr>
      {% for record in records %}
        <tr>
          <td>{{ record.timestamp }}</td>
          <td>{{ record.reading }} {{ resource_instance.unit }}</td>
          <td>
            <ul class="object-actions record-actions">
              <li><a class="fake-button" href="{% url "consumption:record-update" record.id %}">update</a></li>
              <li><a class="fake-button" href="{% url "consumption:record-delete" record.id %}">delete</a></li>
            </ul>
          </td>
        </tr>
      {% endfor %}
    </table>
    {% endif %}
  </section>
</section>
{% endblock main %}
