{% extends "consumption/app_base.html" %}

{% block page-title %}Subject: Update {{ subject_instance.name }}{% endblock page-title %}

{% block main %}
<section class="consumption-document">
  <section class="document-head">
    <h2>Update {{ subject_instance.name }}</h2>
  </section>
  <section>
    <form method="post" novalidate class="consumption-form">
      {% csrf_token %}

      {{ form }}

      <button type="submit" class="button-update">Update Subject</button>
      <button type="reset" class="cancel">Cancel</button>
    </form>
    <ul class="object-actions resource-actions">
      <li><a href="{% url "consumption:subject-delete" subject_instance.id %}">delete</a></li>
    </ul>
  </section>
</section>
{% endblock main %}
