{% extends "consumption/app_base.html" %}

{% block page-title %}Subject: List of Subject instances{% endblock page-title %}

{% block main %}
<section class="consumption-document">
  <section class="document-head">
    <h2>List of Subject instances</h2>
  </section>
  <section>
    <a class="fake-button button-create" href="{% url "consumption:subject-create" %}">Add Subject</a>

    <table class="object-list-table">
      {% if subject_list %}
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
      {% for subject in subject_list %}
      <tr>
        <td>
          <a href="{{ subject.get_absolute_url }}">{{ subject.name }}</a>
        </td>
        <td>
          <ul class="object-actions subject-actions">
            <li><a class="fake-button" href="{% url "consumption:subject-update" subject.id %}">update</a></li>
            <li><a class="fake-button" href="{% url "consumption:subject-delete" subject.id %}">delete</a></li>
          </ul>
        </td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td>Could not fetch Subject list.</td>
      </tr>
      {% endif %}
    </table>

    <a class="fake-button button-create" href="{% url "consumption:subject-create" %}">Add Subject</a>
  </section>
</section>
{% endblock main %}
