{% extends "consumption/app_base.html" %}

{% block page-title %}Subject: Update {{ subject_instance.name }}{% endblock page-title %}

{% block main %}
<h2>Update {{ subject_instance.name }}</h2>

<form method="post" novalidate class="consumption-form">
  {% csrf_token %}

  {{ form }}

  <button type="submit" class="submit">Update Subject</button>
  <button type="reset" class="cancel">Cancel</button>
</form>

<a href="{% url "consumption:subject-delete" subject_instance.id %}">delete</a>
{% endblock main %}
