{% extends "consumption/app_base.html" %}

{% block page-title %}Subject: List of Subject instances{% endblock page-title %}

{% block main %}
<h2>List of Subject instances</h2>

<section>
  <a href="{% url "consumption:subject-create" %}"><button class="consumption-action">Add Subject</button></a>
  <table class="list_view">
    {% if subject_list %}
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
    {% for subject in subject_list %}
    <tr>
      <td>
        <a href="{{ subject.get_absolute_url }}">{{ subject.name }}</a>
      </td>
      <td>
        <!-- add actions here! -->
      </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
      <td>Could not fetch Subject list.</td>
    </tr>
    {% endif %}
  </table>
  <a href="{% url "consumption:subject-create" %}"><button class="consumption-action">Add Subject</button></a>
</section>
{% endblock main %}
