{% extends "consumption/app_base.html" %}

{% block page-title %}Subject: Delete {{ subject_instance.name }}{% endblock page-title %}

{% block main %}
<section class="consumption-document">
  <section class="document-head">
    <h2>Delete {{ subject_instance.name }}</h2>
  </section>
  <section>
    <form method="post" novalidate class="consumption-form">
      {% csrf_token %}

      {{ form }}

      <p>Are you sure you want to delete this Subject?</p>
      <button type="submit" class="danger">Yes, I want to delete this Subject!</button>
      <a class="fake-button safety" href="{% url "consumption:subject-detail" subject_instance.id %}">No, bring me back to safety!</a>
    </form>
  </section>
</section>
{% endblock main %}
